@charset "UTF-8";
/*---!!ОБНУЛЕНИЕ!!---*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  -wedkit-box-sizing: border-box;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------*/
body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto";
  font-weight: 400;
}

header {
  background: #49751C;
  padding: 10px 0;
}
header nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
header nav ul li:first-child a:hover::after {
  content: "*";
  position: absolute;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  background: #F95555;
  padding: 5px 6px 1px 5px;
  border-radius: 50%;
  top: -10px;
  right: 0;
}
header nav ul li:nth-child(4) a:hover::after {
  content: "4";
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
  background: #F95555;
  padding: 4px 6px 3px 5px;
  border-radius: 50%;
  top: -10px;
  right: 0;
}
header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #EEEFF1;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
header nav ul li a img {
  margin-bottom: 6px;
}
header nav ul li a:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
header .headerNav__searchContainer {
  width: 100%;
  padding: 0 80px;
}
header .headerNav__searchContainer input {
  position: relative;
  width: 100%;
  display: block;
  background: #EEEFF1;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  font-size: 18px;
  color: #1E1E1E;
}
header .headerNav__searchContainer input::-webkit-input-placeholder {
  color: #B0B0B0;
  font-size: 18px;
}
header .headerNav__searchContainer input::-moz-placeholder {
  color: #B0B0B0;
  font-size: 18px;
}
header .headerNav__searchContainer input:-ms-input-placeholder {
  color: #B0B0B0;
  font-size: 18px;
}
header .headerNav__searchContainer input::-ms-input-placeholder {
  color: #B0B0B0;
  font-size: 18px;
}
header .headerNav__searchContainer input::placeholder {
  color: #B0B0B0;
  font-size: 18px;
}
header .headerNav__searchContainer button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

[class*=-container] {
  max-width: 1580px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 45px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .mainProductBlock {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: relative;
}
main .mainProductBlock .mainMenuContainer .mainMenuContainer_menu {
  padding: 25px;
  border-radius: 10px;
  border: 2px #B0B0B0 solid;
}
main .mainProductBlock .mainMenuContainer .mainMenuContainer_menu li {
  margin-bottom: 15px;
}
main .mainProductBlock .mainMenuContainer .mainMenuContainer_menu li:last-child {
  margin-bottom: 0;
}
main .mainProductBlock .mainMenuContainer .mainMenuContainer_menu li a {
  font-weight: 400;
  font-size: 16px;
  color: #4B4B4B;
  -webkit-transition: 200ms;
  transition: 200ms;
  display: grid;
  grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .mainProductBlock .mainMenuContainer .mainMenuContainer_menu li a:hover {
  text-decoration: underline;
  color: #5e9b21;
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .mainProductBlock .mainMenuContainer .mainMenuContainer_menu li a img {
  width: 24px;
  height: auto;
  display: block;
}
main .mainProductBlock__cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  margin-left: 60px;
}
main .mainProductBlock__cardContainer:nth-child(1) {
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 60px 0;
}
main .mainProductBlock__cardContainer .cardContainer_card {
  max-width: 250px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
main .mainProductBlock__cardContainer .cardContainer_card .card_sale {
  color: #49751C;
  font-size: 22px;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 7px;
}
main .mainProductBlock__cardContainer .cardContainer_card .card_sale span {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
main .mainProductBlock__cardContainer .cardContainer_card .card_description {
  margin-bottom: 20px;
  font-size: 14px;
  color: #4B4B4B;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .mainProductBlock__cardContainer .cardContainer_card .card_description span {
  color: #1E1E1E;
  font-weight: 500;
}
main .mainProductBlock__cardContainer .cardContainer_card a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #EEEFF1;
  font-size: 16px;
  background: #49751C;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
main .mainProductBlock__cardContainer .cardContainer_card a:last-child img {
  max-width: auto;
  min-width: auto;
  height: auto;
  margin-bottom: 0;
  margin-right: 10px;
}
main .mainProductBlock__cardContainer .cardContainer_card a:last-child:last-child {
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .mainProductBlock__cardContainer .cardContainer_card a:last-child:last-child:hover {
  background: #5e9b21;
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .mainProductBlock__cardContainer .cardContainer_card a:first-child {
  background: none;
  display: block;
  font-size: none;
  border-radius: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  padding: none;
}
main .mainProductBlock__cardContainer .cardContainer_card a:first-child img {
  max-width: 100%;
  min-width: 250px;
  height: auto;
  margin-right: none;
  margin-bottom: 20px;
}
main .mainProductBlock__cardContainer .buttonMore {
  grid-column: 1/5;
  background: #E4E4E4;
  border-radius: 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .mainProductBlock__cardContainer .buttonMore a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #8C8C8C;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
main .mainProductBlock__cardContainer .buttonMore:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #cecece;
}
main .mainProductBlock__cardContainer .buttonMore:hover a {
  color: #ffffff;
}
main .mainSecondProductBlock__cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .mainSecondProductBlock__cardContainer .cardContainer_card {
  grid-gap: 0;
  margin: 0;
  padding: 0;
}
main .saleTwo {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
main .saleTwo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main .saleFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  margin-bottom: 60px;
}
main .saleFour img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

footer {
  background: #49751C;
  padding: 50px 0;
  color: #EEEFF1;
}
footer .footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
footer .footerContainer__first p {
  font-size: 20px;
  font-weight: 500;
}
footer .footerContainer__first p span {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}
footer .footerContainer__social__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
footer .footerContainer__social__Svgs {
  margin-top: 20px;
  text-align: center;
  width: 250px;
}
footer .footerContainer__social__Svgs p {
  font-size: 20px;
  font-weight: 500;
}
footer .footerContainer__social__Svgs p span {
  font-size: 18px;
  text-decoration: underline;
  font-weight: 400;
}
footer .footerContainer__third {
  text-align: right;
}
footer .footerContainer__third p {
  font-size: 20px;
  font-weight: 500;
}
footer .footerContainer__third p:last-child {
  margin-top: 15px;
  font-size: 14px;
}
footer .footerContainer__third p span {
  font-size: 18px;
  text-decoration: underline;
  font-weight: 400;
}

.saleSlider {
  margin-top: 30px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 60px;
}
.saleSlider img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Слайдер */
.slick-slider {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Стрелка */
.slick-arrow {
  font-size: 0;
  background: url("../img/arrow 1.png") 26px center no-repeat;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.slick-arrow {
  position: absolute;
  z-index: 100;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.7;
}